<div class="login-container">

    <mat-card class="login-card">

        <mat-card-content>

            <div class="status-check">
                <span>Add organization</span>
            </div>

        </mat-card-content>
    </mat-card>

    @for (item of organizations(); track item.id) {
      <mat-card class="login-card">
          <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <div class="status-check">
                  <span><strong>ID:</strong> {{ item.id }}</span>
              </div>
          </mat-card-content>
      </mat-card>
    }

</div>